#box1{
    border: 5px solid;
    width:250px;
    height:250px;
    font-size:22px;
    background-color: lightblue;
}
#box2{
    border: 5px solid;
    width:250px;
    height:250px;
    font-size:22px;
    background-color: lightblue;
}