.img1{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	padding: 5px;
	border: 5px solid red;
	margin-right: 700px;
}
li{
	display: inline-block;
	font-size: 30px;
	height: 100px;
	width: 100px;
	margin: 5px;
	padding: 5px;
	margin-top: 10px;

}
ul{
	background-color: rgb(23, 237, 84);
	display: flex;
}
a{
	text-decoration: none;
}
a:hover{
	background-color: blanchedalmond;
	color: red;
}